block head
  // favicon
  link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Ubuntu:500,700', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet')
  // Fonts for icons
  link(href='css/font-awesome.min.css', rel='stylesheet')
  // bootstrap
  link(href='css/bootstrap.css', rel='stylesheet')
  // Styles CSS
  link(href='css/style.css', rel='stylesheet')
  script(src='/socket.io/socket.io.js')
