extends layout

block content
    #main-content.m-scene
      // Header
      nav.navbar
        .full-width-container
          a.navbar-brand(href='index')
            img(src='images/logo.png', width='400', height='45', alt='Logo')
          .fullscreen-menu-holder
            .d-flex.align-items-center
              ul.sidebar-menu
                li
                  a(href='index') Home
                li
                  a(href='listing') My Matches
                li
                  a(href='#') About Us
                li
                  a(href='#') Contact Us
          button.hamburger-menu-btn.pull-right.for-fullscreen.hamburger-circle
            span toggle menu
      // End Header
      .page-container
        // Page title
        .bg-orange.mb_120.whole-container-text-white.text-center.pt-4.pb-4
          h2 Profile Detail
        // End page title
        // Profile detail
        .mt_80.mb_50
          .container
            .row.mb_60
              // Profile photos
              .col-md-6
                #main-carousel_two.owl-carousel
                  img(src='images/team/keyur.jpg', alt='picture', width='1200', height='570')
                  img(src='images/team/madeline.jpg', alt='picture', width='1200', height='570')
                  img(src='images/team/daniel.jpg', alt='picture', width='1200', height='570')
              // End Profile photos
              // Profile info
              .col-md-6
                .sticky-top.mt_10.ml-4
                  h3.font-weight-normal Keyur Modi
                  .separator
                  blockquote Looking for a fitness buddy to motivate and encourage each other.
                  .details_list.mt_40.mb_40
                    ul
                      li
                        i.fa.fa-map-marker.orange
                        |    Perth, WA
                      li
                        i.fa.fa-male.orange
                        |    Male
                      li
                        i.fa.fa-birthday-cake.orange(style='font-size:10px')
                        |    27Years
                      li
                        i.fa.fa-bolt.orange
                        |    Intermediate
              // End Profile info
        // End Profile detail
        // Footer
        footer.bg-orange.mt_150.whole-container-text-white
          | Copyright 2017 © University of Western Australia
        // End Footer
    // Placed js files at the end of the document so the pages load faster
    script(type='text/javascript', src='js/jquery.min.js')
    script(src='js/bootstrap.min.js ')
    script(type='text/javascript', src='js/owl.carousel.js')
    script(type='text/javascript', src='js/main.js')
