extends layout

block content
  if (user)
    #main-content.m-scene
      //- Header
      nav.navbar
        .full-width-container
          a.navbar-brand(href='/')
            img(src='/images/logo.png', width='400', height='45', alt='Logo')
          .fullscreen-menu-holder
            .d-flex.align-items-center
              ul.sidebar-menu
                li
                  a(href='/match') Match
                li
                  a(href='/messages') Messages
                li
                  a(href='/settings') Settings
                li
                  a(href="/logout") Logout
          button.hamburger-menu-btn.pull-right.for-fullscreen.hamburger-circle
            span toggle menu
          .pull-right
            #email-display #{user.email}
      //- End Header
      //- Main content
      .row.mt_20
        //- Area for current matches
        .col-md-4
          p#activeChat 100
          p #{convID}

        //- Area for messages
        .col-md-8
          .chat
            #chat-messages
              .chat-message
            textarea#new-message(placeholder='Enter message')

      //- Navigation-bottom
      .row.mt_20
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/')
            i.fa.fa-user-circle.lg-font
            p.lg-font Home
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/match')
            i.fa.fa-user-plus.lg-font
            p.lg-font Match
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/messages')
            i.fa.fa-comments.lg-font
            p.lg-font Messages
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          a.btn.btn-default.btn-lg.btn-auto(href='/settings')
            i.fa.fa-wrench.lg-font
            p.lg-font Settings
      //- End Navigation-bottom
      //- Footer
      footer Copyright 2017 © University of Western Australia
      //- Placed js files at the end of the document so the pages load faster
      script(type='text/javascript', src='js/jquery.min.js')
      script(src='js/bootstrap.min.js ')
      script(type='text/javascript', src='js/owl.carousel.js')
      script(type='text/javascript', src='js/main.js')
      script(src='/js/message.js')
