extends layout

block content
  if (user)
    #main-content.m-scene
      //- Header
      nav.navbar
        .full-width-container
          a.navbar-brand(href='/')
            img(src='/images/logo.png', width='400', height='45', alt='Logo')
          .fullscreen-menu-holder
            .d-flex.align-items-center
              ul.sidebar-menu
                li
                  a(href='/match') Match
                li
                  a(href='/message') Messages
                li
                  a(href='/settings') Settings
                li
                  a(href="/logout") Logout
          button.hamburger-menu-btn.pull-right.for-fullscreen.hamburger-circle
            span toggle menu
          .pull-right
            .email-display
              p #{user.email}
      //- End Header
      .page-container
      //- Footer
      footer Copyright 2017 © University of Western Australia
    //- Placed js files at the end of the document so the pages load faster
    script(type='text/javascript', src='js/jquery.min.js')
    script(src='js/bootstrap.min.js ')
    script(type='text/javascript', src='js/owl.carousel.js')
    script(type='text/javascript', src='js/main.js')
      p Currently logged in as #{user.email}
      a(href="/logout")
        button#logout(type="button") Logout
