extends layout

block content
  h3= title
  h3= error
  form#register(name="register", method="post", action="/register")
    br
    span Email
    span &nbsp;
    input#input_email(type="email", placeholder="Email", name="email")
    br
    span Password
    span &nbsp;
    input#input_password(type="password", placeholder="Password", name="password")
    br
    button#submit_user(type="submit") Submit
    &nbsp;
    a(href='/')
      button#cancel_registration(type="button") Cancel
