extends layout


block content
  #main-content.m-scene
    // Header
    nav.navbar
      .full-width-container
        a.navbar-brand(href='/')
          img(src='images/logo.png', width='400', height='45', alt='Logo')
        .fullscreen-menu-holder
          .d-flex.align-items-center
            ul.sidebar-menu
              li
                a(href='/') Home
              li
                a(href='listing') My Matches
              li
                a(href='#') About Us
              li
                a(href='#') Contact Us
        button.hamburger-menu-btn.pull-right.for-fullscreen.hamburger-circle
          span toggle menu
        .pull-right
          a.top_link(href='#login') Login
          #login.overlay
            .popup
              .popover-title.popup_header
                h2.text-center Login
              a.close(href='#') ×
              .content
                form.login_form(role='form', action="/login", method="post")
                  .col-sm-12.col-xs-12.mb-3
                    input(type='email', name='email', placeholder='Email')
                  .col-sm-12.col-xs-12
                    input(type='password', name='password', placeholder='Password')
                  .pull-right.pop_btn
                    button.top_link(type="submit") Login
                    &nbsp;
    // End Header
    .page-container
      // Register content
      .container
        .mt_60.mb_60
          .row
            .col-md-12
              span.reveal-title Register
              h2 With Us
              .separator
              br
              br
              span.orange !{error}
              br
              br
              form#contact-form.form-fields-bg-alabaster(method='post', action=' ', role='form')
                .row.form-group
                  .col-sm-3.col-xs-12.ml-2.mr-5
                    .avatar
                      input#fileUpload(type='file', name='photo', onchange='readURL(this);')
                      img#avatar(src='images/team/noname.jpg', alt='your image')
                      svg#camera(viewbox='0 0 25 15', enable-background='new 0 0 25 15')
                        path#cameraFrame(fill='none', stroke='white', stroke-miterlimit='10', d='M23.1,14.1H1.9c-0.6,0-1-0.4-1-1V1.9c0-0.6,0.4-1,1-1h21.2c0.6,0,1,0.4,1,1v11.3C24.1,13.7,23.7,14.1,23.1,14.1z')
                        path#circle(fill='none', stroke='#ffffff', stroke-width='1.4', stroke-miterlimit='12', d='M17.7,7.5c0-2.8-2.3-5.2-5.2-5.2S7.3,4.7,7.3,7.5s2.3,5.2,5.2,5.2S17.7,10.3,17.7,7.5z')
                        g#plus
                          path#plusLine.line(fill='none', stroke='#ffffff', stroke-linecap='round', stroke-miterlimit='10', d='M20.9,2.3v4.4')
                          path.line(fill='none', stroke='#ffffff', stroke-linecap='round', stroke-miterlimit='10', d='M18.7,4.6h4.4')
                      #openModal
                  .col-sm-8.col-xs-12.ml-2
                    .form-group.row.mb-4.mt-4
                      .col-sm-6.col-xs-12
                        label
                          span.orange *
                          |  Your first name:
                        input(type='text', name='name')
                      .col-sm-6.col-xs-12
                        label
                          span.orange *
                          |  Email address:
                        input(type='email', name='email', required='')
                    .form-group.row
                      .col-sm-6.col-xs-12
                        label
                          span.orange *
                          |  Password:
                        input#password(type='password', name='password', required='')
                      .col-sm-6.col-xs-12
                        label
                          span.orange *
                          |  Confirm password:
                        input#repeat-password(type='password', name='repeat-password', required='')
                .form-group.row.mb-5.mt-5
                  .col-sm-4.col-xs-12
                    label Suburb:
                    input(type='text', name='suburb')
                  .col-sm-3.col-xs-12
                    label
                      span.orange *
                      |  Postcode:
                    input#postcode(type='text', name='postcode', pattern='[0-9\s]*', required='', value='')
                  .mr-60.mt_50(onclick='myCurrentPosition()')
                    img(src='images/gps.png', width='18', height='18')
                  .col-sm-4.col-xs-12
                    label Area range within :
                    .range
                      input(type='range', min='1', max='6', steps='1', value='1')
                    ul.range-labels
                      li.active.selected 0km
                      li 1km
                      li 2km
                      li 5km
                      li 10km
                      li 20km
                .form-group.row.mb-5
                  .col-sm-3.col-xs-12
                    label
                      span.orange *
                      |  Fitness level:
                    select.form-control(name='level')
                      option Beginner
                      option Intermediate
                      option Advanced
                  .col-sm-3.col-xs-12
                    label
                      span.orange *
                      |  Fitness activity:
                    select.form-control(name='activity')
                      option Cardio
                      option Strength
                      option Flexibility
                      option Sports
                  .col-sm-3.col-xs-12
                    label
                      span.orange *
                      |  Gender:
                    select.form-control(name='gender', required='')
                      option Male
                      option Female
                  .col-sm-3.col-xs-12
                    label
                      span.orange *
                      | Birthdate:
                    #datePicker.input-group.input-append.date
                      input.form-control(type='text', name='date', required='')
                      span.add-on
                .form-group.row.mb-5
                  .col-sm-12.col-xs-12
                    label Describe yourself:
                    textarea(rows='8', name='bio')
                .form-group.row
                  .col-sm-12.col-xs-12.align-right.mt-3
                    button.top_link(type='submit') Register
      // End About content
      // Footer
      footer.bg-orange.mt_150.whole-container-text-white
        | Copyright 2017 © University of Western Australia
      // End Footer

      // Placed js files at the end of the document so the pages load faster
      script(type='text/javascript', src='js/jquery.min.js')
      script(src='js/bootstrap.min.js ')
      script(src='js/bootstrap-datepicker.min.js')
      script(src='js/main.js')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBUNXgIQw-I2vuTzV85WUvgWNSe057MiMw')
